*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    font-family: "Raleway", sans-serif;
}
body {
    display: flex;
    flex-direction: column ;
    align-items: center;
     overflow-x:hidden;
}
#apartment-rentals {
    display: grid;
    width: 1100px;
    height: fit-content;
    grid-template-columns: 26% 74%;
    border: 1px solid black;
}

nav {
    position: fixed;
    height: 100%;
    width: calc(0.26*1100px);
    background-color: #f1f1f1;
    overflow: auto;
}

#nav-heading{
    font-weight: normal;
    font-size:27px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 30px;
    padding: 0 15px;
}

#nav-heading span {
    display: block;
}

#nav-heading-small {
    font-size: 18px;
} 



nav form {
    margin: 45px 0;
    padding: 0 15px;
}

label {
    font-size: 17px;
    display: block;
}

nav input,#nav-submit,#popup input {
    width: 100%;
    height: 40px;
    font-size: 18px;
    padding-left: 5px;
    margin: 20px 0;
   
}



button {
color: white;
background-color: #4CAF50;
border: none ;
display: flex;
justify-content: center;
align-items: center;

} 

#nav-submit {
    padding-left: 20px;
    justify-content: unset;
}
#nav-submit i {
    margin-right: 20px;
    justify-self: flex-start;
}

#nav-links {
    margin-top: 20px;
}

#nav-links p{
    width: 100%;
    height: 60px;
    display: flex;
    padding: 0 15px;
    align-items: center;
}

#nav-links p:hover {
    background-color: lightgray;
    cursor: pointer;
}

#nav-links a {
    text-decoration: none;
    color: inherit;
}

#nav-links i {
    margin-right: 5px;
}

@keyframes popup {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

#subscribe-popup{
    position: fixed;
    align-self: center;
    display: none;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0,0,0, 0.4);
 
}

#popup {
    width: 1000px;
    height: 280px;
    background-color: white;
    position:relative;
    top:100px;
    animation: popup 1s forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    border: #f1f1f1;
}

#popup button {
    width: 130px;
    height: 50px;
    font-size: 17px;
}

#heading-x {
 margin: 40px 0 20px 0;
}
#heading-x h1{
text-transform: uppercase;
letter-spacing: 2.5px;
font-weight: normal;
display: inline;
}

#heading-x span {
    font-size: 26px;
    position: relative;
    left: 330px;
    top:-10px;
    padding: 10px 15px ;
}

#heading-x span:hover {
 background-color: rgba(0,0,0, 0.2);
 cursor: pointer;
}

button:hover {
    color: black;
    background-color: lightgray;
    cursor: pointer;
}

#hor-navbar{
    width: 100%;
    background-color: black;
    height: 60px;
    color: white;
    display: flex;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 15px ;
    position:sticky;
    top:0;
}

#hor-navbar h1 {
    display: inline;
    font-weight: normal;
    font-size: 27px;
}

#hor-navbar span{
    font-size: 30px;
    height: 100%;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hor-navbar span:hover {
    color: black;
    background-color: lightgray;
    cursor: pointer;
   
}

#close-navbar{
    font-size: 18px;
    text-align: right;
    display: block;
    display: none;
}
#close-navbar i {
    padding: 10px;
}
#close-navbar i:hover {
    background-color: rgba(0,0,0, 0.2);
    cursor: pointer;
}

#banner {
    border: 1px solid red;
    overflow: hidden;
}

.section {
    width: 100%;
    margin-left: 25px;

}

#apartment{
    height: 105vh;
}

.mainHeading{
    font-family: Raleway;
    font-weight: 400;
    font-size: 30px;
    color: #4CAF50;
    padding-top: 8px;
}



#livingroom{
    width: 95%;
    margin-top: 11px;
}

.lroom{
 background-color: black;
 width: 132px;
 height: 60px;
 text-align: center;
 color: #ffffff;
 padding-top: 5px;
 position: absolute;
 margin-top: -90px;
}

.smallImg{
 display: flex;
 
}

.rooms:hover{
 opacity: 100%;
 cursor: pointer

}

#room{
 width: 180px;
 height: 100px;
}

.rooms{
 width: 200px;
 height: 100px;
 padding-left: 15px;
 opacity: 60%;
 transition: filter 0.3s ease;
}

#the-space {
    height: 32vh;


}

.section{
    font-size: 20px;
    line-height: 50px;
    font-weight: 400;

}

.side-icons{
   margin-left: 385px;
   margin-top: -150px;

}

#amenities {
    height: 34vh;
    margin-top: 40px;
}

#extra-info {
    height: 35vh;
}

strong{
 font-size: 20px;
 font-family: Raleway;
 font-weight: 600;
 margin-top: 20px;
}

#extra-info p, #rules p{
    font-size: 15px;
    line-height: 23px;
    margin-top: 15px;
}

.weAccept{
    display: flex;
    margin-top: -50px;
}

.cards{
  width: 150px;
  font-size: 20px;
  margin-left: 5px;
}

hr{
    margin: 20px 0px;
    color: lightgray;
    opacity: 30%;
}
#rules {
    height:40vh
}

#subscribe{
  width: 255px;
  height: 40px;
  background-color: #4CAF50;
  margin-top: 20px;
  font-size: 18px;
}

#contact {
    height: 700px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

#contact-heading {
    font-weight: 400;
    font-size: 36px;
    margin-top: 50px;
}

#contact-info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contact-info i {
margin-right: 20px;
}

#contact-form-subheading {
    margin-top: 15px;
}

#contact input {
margin-bottom: 15px;
display: block;
width: 100%;
height: 45px;
font-size: 16px;
padding: 8px;
}

#contact button {
 height: 45px;
 width: 30%;
 font-size: 16px;
}

#w3schools-link {
    margin-top: 40px;
}

#w3schools-link a{
    color: inherit;
}

#w3schools-link a:hover {
color: #4CAF50;
}

@media screen and (max-width: 1200px) {
    #nav-bar {
        display: none;
        position: absolute;
        top: 0;
    }

    #nav-heading {
        margin: 0;
    }

    #apartment-rentals{
        display: block;
        width: 100vw;
       
    }
    #close-navbar {
        display: block;
    }

    #hor-navbar {
        display: flex;
    }

    #popup {
        width: 700px;
    }

    #heading-x span {
    left: 130px;
    top:-10px;
}

  
}